@unocss;

:root {
  --rp-c-text-code: var(--rp-c-brand-dark);
  --rp-c-text-code-bg: #90998e1a;
  --rp-c-brand: #527dec; /* Updated Brand color */
  --rp-c-brand-light: #7694e8; /* Adjusted lighter version */
  --rp-c-brand-lighter: #98adf4; /* Adjusted even lighter version */
  --rp-c-brand-dark: #4166c2; /* Adjusted darker version */
  --rp-c-brand-darker: #314c9a; /* Adjusted even darker version */
  --rp-c-brand-tint: #7c9be429; /* Adjusted tint version */
  --rp-c-link: var(--rp-c-brand-dark);
  --rp-c-bg: #ffffff;
  --rp-radius: 6px;
  --rp-radius-small: 4px;
  --rp-radius-large: 8px;
}

/* TODO: This fix alita */
span[class^='clip'] {
  background-image: var(--rp-home-hero-name-background);
}

.dark {
  --rp-c-text-code: var(--rp-c-brand-light);
  --rp-c-text-code-bg: #90998e1a;
  --rp-c-link: var(--rp-c-brand-light);
  --rp-c-bg: #1b1b1d;

  .rspress-nav-search-button {
    background-color: #101010;
  }
}

.rspress-nav-search-button {
  background-color: #f6f6f6;
}

.rspress-nav-menu-item {
  background-color: unset !important;
}

.rspress-nav-menu-group-button {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  height: 100% !important;
}

a.user-link {
  color: var(--rp-c-link);
  cursor: pointer;
  display: inline;
  transition: color 0.25s;
  word-break: break-all;
  text-decoration: inherit;
  box-sizing: border-box;

  &:hover {
    /* border-bottom: 1px solid var(--rp-c-brand); */
    text-decoration: underline;
    opacity: 0.85;
  }
}

.rspress-sidebar section > div {
  padding-right: 8px;

  & > div {
    border-radius: 0 !important;
    background-color: unset !important;
  }
}

.rspress-nav-menu-group-content {
  .rounded-2xl {
    border-radius: 6px;
  }

  .p-3 {
    padding: 4px 6px;
  }
}

.rspress-nav-appearance {
  .p-1 {
    padding: 0;
  }

  .border {
    border: none;
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & svg {
    transform: scale(calc(4 / 3));
  }
}
